{% extends "base.html" %}
{% block content %}
    <div class="stockbox">
        <h1>{{ title }}</h1>
        <table>
            <tr>
                <th>Artikel</th>
                <th>SKU</th>
                <th>Lager</th>
                <th>Bestand</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.sku }}</td>
                <td>{{ item.warehouse.name }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="4">Keine Artikel vorhanden.</td></tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
